<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 默认使用的环境 ID（比如：default="development"）
    也就是说我们可以配置多套<environment>环境-->
    <environments default="development">
        <!--
           每个 environment 元素定义的环境 ID
           -->
        <environment id="development">
            <!--
                transactionManager 事务管理器
                type的值有JDBC和MANAGED
                    JDBC – 这个配置直接使用了 JDBC 的提交和回滚设施，它依赖从数据源获得的连接来管理事务作用域。
            -->
            <transactionManager type="JDBC"/>
            <!--
              dataSourcedataSource 数据源 dbcp c3p0 druid
              type="[UNPOOLED|POOLED|JNDI]"
              POOLED意思有连接池的连接
              UNPOOLED意思没有连接池的连接
              -->
            <dataSource type="POOLED">
                <!--                JDBC 驱动-->
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <!--                url数据库的 JDBC URL地址。-->
                <property name="url" value="jdbc:mysql://localhost:3306/mybatis?useSSL=true&amp;useUnicode=true&amp;characterEncoding=utf-8"/>
                <property name="username" value="root"/>
                <property name="password" value="mysql"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <!-- 使用相对于类路径的资源引用 -->
        <!--        <mapper resource="asia/xiaojiang/mybatis03/dao/UserMapper.xml"/>-->
        <!-- 使用完全限定资源定位符（URL）
        不推荐使用
        <mapper url="E:\JetBrains\mybatis学习\Mybatis-study\Mybatis-03\src\main\java\asia\xiaojiang\mybatis03\dao\UserMapper.xml"/>
        -->

        <!-- 使用映射器接口实现类的完全限定类名
         使用注意点： 接口和其配置文件必须同名， 必须在同一个包下
         -->
        <mapper class="com.yang.mapper.UserMapper"/>
        <!-- 将包内的映射器接口实现全部注册为映射器
        使用包扫描注意点：
            接口和其配置文件必须同名， 必须在同一个包下
        -->
        <!--        <package name="asia.xiaojiang.mybatis03.dao"/>-->
    </mappers>

</configuration>
